body {
    color: $color-text;
}

body, button, input, input::placeholder {
    font-family: $font-family-base;
    color: rgba($white, 0.8);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
}

h1 {
    font-family: $font-family-alt;
    font-size: 2rem;
}

h3 {
    font-weight: 100;
    font-size: 1.5rem;
}

input, input::placeholder {
    font-size: 1rem;
}

label, button, input[type="submit"] {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

h1.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $white;
    @include animate-text(text-pink, $pink);

    &.green {
        @include animate-text(text-green, $green);
    }
}

li {
    list-style: none;
}

.alert {
    margin-left: 4rem;
    color: $pink;

    .icon {
        vertical-align: middle;
        margin-right: 6px;
        font-size: 1.2rem;
    }
}