body, button, input, input::placeholder {
    font-family: $font-family-base;
}

h1 {
    font-family: $font-family-alt;
    font-size: 2rem;
}

input, input::placeholder {
    font-size: 1rem;
}

label, button, input[type="submit"] {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

h1.title {
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}