@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Kodchasan:wght@200;300;400;500;600;700&family=Varela+Round&display=swap');

// font
// $font-family-base: 'Dosis', sans-serif;
$font-family-alt: 'Kodchasan', sans-serif;
$font-family-base: 'Varela Round', sans-serif;

// colors
$white: #ffffff;
$pink: #ff3399;
$yellow: #ffff00;
$green: #66ff33;
$blue: #0066ff;
$purple: #cc33ff;
$warning: #ff0000;
$black: #000000;
