@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Kodchasan:wght@200;300;400;500;600;700&family=Varela+Round&display=swap');

// font
// $font-family-base: 'Dosis', sans-serif;
$font-family-alt: 'Kodchasan', sans-serif;
$font-family-base: 'Varela Round', sans-serif;

// colors
$blue: #0066ff;
$cyan: #00bbcb;
$green: #66ff33;
$yellow: #ffff00;
$pink: #ff3399;
$purple: #cc33ff;

$warning: #ff0000;

$dark: #27272C;
$black: #000000;
$white: #ffffff;

$color-text: rgba($white, 0.8);
