.category {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 10rem;
    padding: 1rem;
    border: 3px solid rgba($white, 0.8);
    border-radius: 1rem;
    margin: 0.8rem;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    color: rgba($white, 0.8);
    transition: border-color 0.2s, box-shadow 0.4s, color 0.4s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);

    &:hover {
        border-color: $yellow;
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;
    }

    &.selected {
        border-color: $yellow;
        box-shadow: 0 0 10px $yellow, inset 0 0 10px $yellow;
        color: $yellow;
        text-shadow: 0 0 10px $yellow;
    }

    &.skeleton {
        background-color: rgba($white, 0.8);
        border-color: rgba($white, 0.8);
        cursor: auto;
        animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;

        @keyframes pulse {
        0%, 100% {
            opacity: 0.5;
        }
        50% {
            opacity: 1;
        }
    }
    }
}