.category {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 10rem;
    margin: 0.8rem;
    transition: border-color 0.2s, box-shadow 0.4s, color 0.4s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);

    &:hover {
        border-color: $yellow;
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    &.selected {
        @include border-shadow($yellow, 10px)
    }

    &.skeleton {
        border-radius: 1rem;
        background-color: rgba($white, 0.8);
        border-color: rgba($white, 0.8);
        cursor: auto;
        animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;

        @keyframes pulse {
            0%, 100% {
                opacity: 0.5;
            }
            50% {
                opacity: 1;
            }
        }
    }
}